Body{
    background-color: lightgreen;
}
flex{
    display:flex;
    font-size: 50px;
}
image{
background-image: url(po.jpg);
width: 500px;
height: 500px;
background-size: 100% 100%;
}
@media screen and (max-width:1000px) {
    body{
        background-color: pink;
    }
    flex{
        flex-direction: column;
    }
    image{
    background-image: url(po.jpg);
}
}